
<!doctype html>
<html  lang="es">
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <title>Hello world</title>
  </head>
<body class="container">
  <h1>Pregunta</h1>
  <form method="post">

      <h2>
       Categoria <%=@categoria%>
        </h2>

    <fieldset>
      <legend class="pregunta"><span class="pregunta">Pregunta:</span> <%=@preguntas[@categoria]["p1"]["text"]%></legend>
      <input type="hidden" name="pregunta" value="<%=@pregunta%>" id="pregunta">
      <p class="opciones">Opciones:</p>
      <%@preguntas[@categoria]["p1"]["opciones"].each do |key, value| %>
        <div>
            <input class=“form-check-input” type="radio" id="<%=key%>" name="respuesta" value="<%=value%>">
            <label class=“form-check-label” for="r1"><%=value%></label>
          </div>
      <%end%>

    </fieldset>
    <input class="btn btn-primary" type="submit" value="Responder" id="submit">
  </form>

</body>
</html>
